.booking-portal {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.booking-form form {
  display: flex;
  flex-direction: column;
}

.booking-form input,
.booking-form textarea {
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.heading {
  color: #333;
}
.submit_button {
  background-color: #53c457;
  color: rgb(117, 79, 79);
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit_button:hover {
  background-color: #caa21f;
}
